.h1 {
  margin: 0;
}
.navbar {
  padding: 1em 0 1em 0;
}
.pt-6 {
  padding-top: 7em;
}
.mt-6 {
  margin-top: 7em;
}
body {
  background-color: gray;
}
.card-body {
  padding-top: 0.5em;
}
.card-header {
  padding-bottom: 0;
}
.card {
  min-width: 300px;
}
